.row
  .col-md-4
  .col-md-4
    %h2
      Edit #{resource_name.to_s.humanize}
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f|
      = devise_error_messages!
      %div.form-group
        .well.well-lg
          = image_tag current_user.avatar.url(:thumb), class: "thumbnail", id: "profile_thumbnail"
          = f.file_field :avatar, class: "pull-right"
        = f.label :username
        %br/
        = f.text_field :username, class: "form-control", placeholder: "Pick a username"
      %div.form-group
        = f.label :firstname
        %br/
        = f.text_field :firstname, class: "form-control", placeholder: "Enter your first name"
      %div.form-group
        = f.label :lastname
        %br/
        = f.text_field :lastname, class: "form-control", placeholder: "Enter your last name"
      %div
        = f.label :email
        %br/
        = f.email_field :email, class: "form-control"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      %div
        = f.label :password
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "off", class: "form-control"
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      %div
        = f.label :current_password
        %i (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "off", class: "form-control"
      %div= f.submit "Update", class: "btn btn-default"
    %h3 Cancel my account
    %p
      #{button_to "Cancel my account", registration_path(resource_name), class: "btn btn-default", data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "Back", :back, class: "btn btn-default"
  .col-md-4