.row
  .col-md-3
  .col-md-6
    .panel.panel-default
      .panel-heading.clearfix
        %h3.panel-title.inline= @topic.title
        -if @topic.creator == current_user
          %span.pull-right.inline= link_to "Edit", edit_topic_path(@topic), class: "btn btn-default pull-right"
      .panel-body
        != MARKDOWN.render(@topic.description)

        = link_to "Back", topics_path, class: "btn pull-left"
        - @topic.tags.each do |tag|
          = link_to(tag_path(tag)) do
            %span.label.label-primary.pull-right.tag= tag.name
  .col-md-3
.row
  .col-md-3
  .col-md-6
    =render :partial => 'comments', :locals => {topic: @topic}
  .col-md-3